body {
  font-weight: 300;
  color: #41425a;
  letter-spacing: normal;
  line-height: normal !important;
}
body .bg-swr-el {
  background-color: #7639bf;
}
body .bg-swr-el-com {
  background-color: #30bfb8;
}

button:focus {
  outline: none;
}

.content-text {
  font-size: 20px;
  font-weight: 300;
}

.content-title {
  font-size: 54px;
  color: #7639bf;
  padding: 40px 0;
  font-weight: 100;
  margin-top: 44px;
  margin-bottom: 44px;
}

.scroll-btn {
  width: 50px;
  cursor: pointer;
}

.scroll-btn:hover img:nth-child(1) {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: -3px;
  transition: all 0.2s, cubic-bezier(0.7, 0, 0.4, 1) ease-out;
}

.btn {
  border-radius: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

header {
  background: #41425a;
  height: 70px;
}
header .navbar {
  padding: 0;
  width: 90%;
  margin: 0 auto;
}
header .navbar .dropdown {
  margin-left: auto;
  width: 520px;
}
header .navbar .dropdown .toggle-icon {
  background-image: url(../images/hamburger-menu-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  float: right;
  border-radius: 0;
  border: none;
}
header .navbar .dropdown .dropdown-menu {
  right: 0;
  left: auto;
  background: #41425a;
  width: 100%;
  border-radius: 0;
  margin: 0;
  border-top: 1px solid #7639bf;
  padding: 10px 20px;
}
header .navbar .dropdown .dropdown-menu .dropdown-item {
  font-size: 28px;
  color: #FFF;
  padding: 18px 0;
  font-weight: 300;
  position: relative;
}
header .navbar .dropdown .dropdown-menu .dropdown-divider {
  border-top: 1px solid #7639bf;
  margin: 0;
}
header .navbar .dropdown .dropdown-menu .dropdown-item:hover,
header .navbar .dropdown .dropdown-menu .dropdown-item:focus {
  color: #FFF;
  text-decoration: none;
  background-color: unset;
}
header .navbar .dropdown .dropdown-menu .dropdown-item::after {
  content: "keyboard_arrow_right";
  font-family: "Material Icons";
  font-weight: 900;
  font-style: normal;
  position: absolute;
  right: 15px;
  bottom: 0;
  top: 0;
  height: min-content;
  bottom: 0;
  font-size: 40px;
  margin: auto;
}

#banner {
  margin-top: 70px;
  padding: 0 0 50px 0;
}
#banner .title {
  width: 90%;
  max-width: 1240px;
  margin: auto;
  display: flex;
}
#banner .title h1 {
  font-size: 54px;
  color: #7639bf;
  font-weight: 100;
  margin: 40px 0;
}
#banner .title h1 .title-p1 {
  font-weight: 100;
  display: block;
  font-size: 114px;
  color: #FFF;
  line-height: 118px;
  margin-bottom: 10px;
}
#banner .title h1 .title-p2 {
  font-weight: 700;
  display: block;
  font-size: 114px;
  color: #FFF;
  line-height: 118px;
}
#banner .title h1 .title-p3 {
  font-weight: 700;
  display: block;
  font-size: 114px;
  color: #FFF;
  line-height: 118px;
}
#banner .title h1 .title-p3 .letter-x {
  opacity: 0.2;
}

#featured-section {
  background: #f5f5f5;
  padding-bottom: 120px;
  padding-left: 45px;
}
#featured-section #slider {
  width: 55%;
}
#featured-section .item p {
  font-size: 36px;
  margin-top: 0;
  font-weight: 300;
}
#featured-section .row {
  margin-left: 0px;
  margin-right: 0px;
}
#featured-section .owl-stage {
  margin-top: 70px;
}
#featured-section .owl-dots {
  width: max-content;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 0;
  z-index: 999;
}
#featured-section .owl-carousel button.owl-dot {
  background: #41425a;
  color: #41425a;
  border: none;
  padding: 0 !important;
  font: inherit;
  border-radius: 100%;
  margin: 3px;
  width: 10px;
  height: 10px;
}
#featured-section .owl-carousel button.owl-dot.active {
  background: #7639bf;
  transform: scale(1.2);
}
#featured-section img {
  width: 100%;
  margin-top: -475px;
}
#featured-section .text-section {
  width: 55%;
  margin-top: 35px;
  margin-bottom: 50px;
}
#featured-section .text-section p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: 300;
}
#featured-section .btn-info-custom {
  padding: 20px 80px 20px 30px;
  color: #FFF;
  background-color: #30bfb8;
  font-weight: 900;
  width: 65%;
  box-sizing: border-box;
  font-size: 20px;
  display: inline-block;
  text-align: left;
  line-height: 1;
  background-position: right 30px center;
  position: relative;
}
#featured-section .btn-info-custom::after {
  content: "keyboard_arrow_right";
  font-family: "Material Icons";
  font-weight: 100;
  font-style: normal;
  position: absolute;
  right: 0px;
  bottom: 0;
  top: 0;
  height: min-content;
  font-size: 55px;
  margin: auto;
}

#scrollHolder {
  background: #e6459d;
  padding: 25px 110px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  height: 120px;
  position: static;
  bottom: 0;
  z-index: 99;
  margin-top: -120px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
}
#scrollHolder.sticky-item {
  position: -webkit-sticky;
  position: sticky;
}
#scrollHolder .pf-logo-white:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s, cubic-bezier(0.7, 0, 0.4, 1) ease-out;
}
#scrollHolder .row .col-6.col-sm-6.col-md-6.col-lg-6 {
  margin-top: auto;
  margin-bottom: auto;
}
#scrollHolder .row .lr-0 {
  left: 0;
  right: 0;
  width: min-content;
  margin: 0 auto;
}

#scrollHolder-2 {
  background: #f5f5f5;
  height: 100px;
}

#scrollHolder-3 .btn-scroll-holder {
  text-align: center;
  padding: 40px 0;
}
#scrollHolder-3 .btn-scroll-holder .btn-outline-info-custom {
  font-weight: 900;
  width: 520px;
  font-size: 18px;
  padding: 20px 70px;
  border-color: #fff;
  border: 4px solid #FFF;
}
#scrollHolder-3 .btn-scroll-holder .btn-outline-info:hover {
  background-color: unset;
  border-color: #FFF;
}
#scrollHolder-3 .scroll-btn {
  height: 110px;
  margin-top: 20px;
}

#contentHolder {
  background: #f5f5f5;
  padding: 90px 0;
}
#contentHolder .container-fluid {
  width: 90%;
}
#contentHolder .btn-info-custom {
  padding: 20px 80px 20px 30px;
  color: #FFF;
  font-weight: 900;
  width: 28%;
  box-sizing: border-box;
  font-size: 20px;
  position: relative;
  word-spacing: 3px;
  text-align: left;
  line-height: 1;
  margin-top: 40px;
  border: none;
}
#contentHolder .btn-info-custom::after {
  content: "keyboard_arrow_right";
  font-family: "Material Icons";
  font-weight: 100;
  font-style: normal;
  position: absolute;
  right: 0px;
  bottom: 0;
  top: 0;
  height: min-content;
  font-size: 55px;
  margin: auto;
}

#contentHolder-2 {
  padding: 20px 0 40px 0;
}
#contentHolder-2 .container-fluid {
  width: 90%;
}
#contentHolder-2 .content-title {
  margin-top: 40px;
  margin-bottom: 40px;
}
#contentHolder-2 #feature-list p {
  padding: 10px 0 10px 35px;
  font-size: 20px;
  background: url(../images/x-pink.png) no-repeat;
  background-position: top 18px left;
  margin: -1px;
  font-weight: 300;
}

#videoHolder .btn {
  outline: none;
  box-shadow: none;
}
#videoHolder .btn:focus {
  outline: none;
  box-shadow: none;
}
#videoHolder iframe {
  width: 800px;
  height: 450px;
  -webkit-box-shadow: 0 0 100px 30px #000000;
  -moz-box-shadow: 0 0 100px 30px #000000;
  box-shadow: 0 0 100px 30px #000000;
  border: 0;
}
#videoHolder .modal .modal-content {
  background-color: transparent;
  border: none;
}
#videoHolder .modal .modal-content .modal-header {
  border: none;
}
#videoHolder .modal .modal-content .modal-header .btn-rounded {
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 2px 2px 0px 2px;
  opacity: 1;
  margin: -1rem 0rem -1rem auto;
}
#videoHolder .modal .modal-content .modal-body {
  width: min-content;
  margin: 0 auto;
}
#videoHolder .text-content {
  width: 90%;
  margin: auto;
  font-size: 34px;
  padding-top: 20px;
  letter-spacing: -1px;
}

#resourceHolder {
  padding: 70px 0;
  margin-top: 20px;
}
#resourceHolder .section-title {
  font-size: 54px;
  font-weight: 100;
  width: 70%;
  margin: 44px auto;
}
#resourceHolder .btn-scroll-holder {
  background: transparent;
  text-align: center;
}
#resourceHolder .btn-scroll-holder .btn-outline-info-custom {
  font-weight: 900;
  width: 520px;
  font-size: 18px;
  padding: 20px 70px;
  border-color: #fff;
  border: 4px solid #FFF;
}
#resourceHolder .btn-scroll-holder .btn-outline-info:hover {
  background-color: unset;
  border-color: #FFF;
}

#footerHolder {
  background: #41425a;
  border-bottom: 15px solid #e6459d;
  padding: 70px 0;
}
#footerHolder .container-fluid {
  width: 90%;
  margin: auto;
}
#footerHolder .container-fluid .section-text {
  width: 70%;
  margin-right: auto;
}
#footerHolder .container-fluid .section-text p {
  color: #FFF;
  font-size: 15px;
}
#footerHolder .container-fluid .section-menu .nav .nav-item .nav-link {
  color: #FFF;
  font-size: 15px;
  padding: 0 15px 0 0px;
  margin-right: 15px;
  border-right: 1px solid #FFF;
  text-decoration: underline;
}
#footerHolder .container-fluid .section-menu .nav .nav-item .nav-link:focus, #footerHolder .container-fluid .section-menu .nav .nav-item .nav-link:hover {
  color: #FFF;
}
#footerHolder .container-fluid .section-menu .nav .nav-item:last-child .nav-link {
  border-right: none;
}
#footerHolder .container-fluid .section-logo {
  width: min-content;
  margin-left: auto;
}

#termsConditionsHolder {
  margin: 100px 0 200px 0;
}
#termsConditionsHolder .container-fluid {
  width: 90%;
  margin: auto;
}
#termsConditionsHolder .container-fluid .par-text {
  line-height: 28px;
  font-size: 20px;
  font-weight: 300;
}
#termsConditionsHolder .container-fluid .par-text .bold-text {
  font-family: "Muli-light", "Roboto", "Open Sans", sans-serif;
  font-weight: 400;
}
#termsConditionsHolder .container-fluid .par-title {
  margin-top: 50px;
  font-weight: 300;
}
#termsConditionsHolder .container-fluid .par-text {
  line-height: 28px;
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 1291px) {
  #featured-section img {
    bottom: 0;
    position: absolute;
  }
  #featured-section .btn-info-custom {
    width: 80%;
    margin-bottom: 30px;
  }

  #contentHolder .btn-info-custom {
    width: 35%;
  }
}
@media (max-width: 1000px) {
  #featured-section .btn-info-custom {
    width: 95%;
  }

  #contentHolder .btn-info-custom {
    width: 45%;
  }
}
@media (max-width: 842px) {
  #featured-section .btn-info-custom {
    width: 100%;
  }
}
@media (max-width: 813px) {
  header .navbar {
    width: 100%;
  }
  header .navbar .dropdown {
    width: 100%;
  }
  header .navbar .dropdown .toggle-icon {
    margin-right: 20px;
  }

  #banner .title h1 .title-p1,
#banner .title h1 .title-p2,
#banner .title h1 .title-p3 {
    font-size: 88px;
    line-height: 100px;
  }

  #featured-section .btn-info-custom {
    width: 100%;
    text-align: center;
    padding: 20px 80px 20px 19px;
  }

  #contentHolder .btn-info-custom {
    width: 60%;
    font-size: 20px;
    word-spacing: 3px;
    padding: 20px 30px 20px 30px;
  }

  #videoHolder iframe {
    width: 400px;
    height: 228px;
  }

  #footerHolder .container-fluid .section-logo {
    width: min-content;
    margin-right: auto;
    margin-left: 0;
    margin-top: 30px;
  }
  #footerHolder .container-fluid .section-text {
    width: 100%;
    margin-right: auto;
  }
}
@media (max-width: 750px) {
  #scrollHolder-3 #btn-scroll-holder .btn-outline-info-custom {
    padding: 20px 5%;
    width: 80%;
  }

  #scrollHolder {
    padding-left: 0;
    padding-right: 0;
  }

  #resourceHolder #btn-scroll-holder .btn-outline-info-custom {
    padding: 20px 5%;
    width: 80%;
  }

  .scroll-btn img:nth-child(1) {
    display: none !important;
  }

  .scroll-btn img:nth-child(2) {
    width: 35px;
    height: auto;
    padding: 25px 0;
  }
}
@media (max-width: 900px) and (min-width: 551px) {
  #featured-section #slider {
    width: 90%;
  }
}
@media (max-width: 550px) {
  .scroll-btn img:nth-child(2) {
    width: 25px;
    padding: 30px 0;
  }

  #banner {
    padding: 0;
  }
  #banner .title h1 .title-p1,
#banner .title h1 .title-p2,
#banner .title h1 .title-p3 {
    font-size: 50px;
    line-height: 58px;
  }

  #scrollHolder {
    padding: 0;
    height: 70px;
    margin-top: 0px;
  }
  #scrollHolder .row a img {
    width: 80px;
    height: auto;
    margin-top: 10px;
  }

  #contentHolder {
    padding-bottom: 10px;
  }
  #contentHolder #section-q .content-title {
    padding-bottom: 10px;
    font-size: 30px;
    margin: 10px 0;
    word-spacing: -2px;
    width: 100%;
    letter-spacing: -1px;
  }
  #contentHolder .btn-info-custom {
    width: 60%;
    font-size: 14px;
    text-align: center;
  }
  #contentHolder .btn-info-custom::after {
    content: none;
  }

  #contentHolder-2 .content-title {
    padding-bottom: 10px;
    font-size: 30px;
    margin: 10px 0;
    word-spacing: -2px;
    width: 100%;
    letter-spacing: -1px;
  }

  #scrollHolder-2 {
    height: 70px;
  }
  #scrollHolder-2 .scroll-btn img:nth-child(2) {
    width: 25px;
    padding: 30px 0;
  }

  #scrollHolder-3 .btn-scroll-holder .btn-outline-info-custom {
    padding: 15px 5%;
    width: 75%;
    border: 2px solid #FFF;
    font-size: 14px;
    outline: none;
  }
  #scrollHolder-3 .scroll-btn {
    height: 60px;
  }
  #scrollHolder-3 .scroll-btn img:nth-child(2) {
    width: 20px;
    padding: 10px 0;
  }

  #resourceHolder .section-title {
    padding-bottom: 0;
    font-size: 36px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  #resourceHolder .btn-scroll-holder {
    padding: 0;
    margin-top: 50px;
  }
  #resourceHolder .btn-scroll-holder .btn-outline-info-custom {
    padding: 15px 5%;
    width: 75%;
    border: 2px solid #FFF;
    font-size: 14px;
    outline: none;
  }

  #videoHolder .text-content {
    font-size: 20px;
  }
  #videoHolder iframe {
    width: 300px;
    height: 170px;
  }

  #featured-section {
    padding: 0px;
    font-size: 12px;
    width: 100%;
    font-weight: 100;
    padding-left: 0;
  }
  #featured-section #slider {
    width: 90%;
    padding: 0px;
    margin: 0 auto;
  }
  #featured-section .text-section {
    width: 90%;
    padding: 3px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  #featured-section .btn-info-custom {
    width: 90%;
    padding: 15px;
    font-size: 14px;
  }
  #featured-section .btn-info-custom::after {
    content: none;
  }
  #featured-section .item p {
    font-size: 26px;
    word-spacing: -2px;
  }
  #featured-section .row .text-center-xs {
    text-align: center !important;
  }
  #featured-section img {
    width: 100%;
    margin-top: -51px;
    position: sticky;
  }

  #videoHolder .modal .modal-content .modal-header .btn-rounded {
    margin: -1rem 4rem -1rem auto;
  }

  #termsConditionsHolder .content-title {
    font-size: 36px;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: min-content;
    margin: 1.75rem auto;
  }
}

/*# sourceMappingURL=style.css.map */
