@import './variables';

// Main Header
#header {
    margin-bottom: 20px;
    min-height: 110px;
    padding-top: 15px;
    .bg-shadow {
        display: block;
        width: 100%;
        height: 110px;
        position: absolute;
        left: 0;
        top: 0;
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .header-content {
        position: relative;
        .navbar {
            .navbar-brand {
                margin-right: 72px;
                img {
                    width: 70px;
                }
            }
            ul.navbar-nav {
                margin-top: 6px;
                li {
                    padding: 0px 16px;
                    border-bottom: 1px solid transparent;
                    margin-left: 0px;
                    margin-right: 0px;
                    &.show {
                        a:before {
                            opacity: 1;
                        }
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, .8) !important;
                        border-bottom: 1px solid #000000;
                    }
                    a.nav-link {
                        color: $white;
                        text-transform: uppercase;
                        font-size: 15px;
                        text-decoration: none;
                        position: relative;
                        padding-left: 0px;
                        padding-right: 0px;  
                        &:after {
                            display: none;
                        }          
                        &:before {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 3px;
                            background-color: $white;
                            position: absolute;
                            bottom: 6px;
                            left: 0px;
                            opacity: 0;
                        }
                        &:hover {
                            text-decoration: none;
                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                    &.active {
                        a {
                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                    &:first-child {
                        a:before {
                            background-color: $blue;
                        }
                    }
                    &:nth-child(2) {
                        a:before {
                            background-color: $orange;
                        }
                    }
                    &:nth-child(3) {
                        a:before {
                            background-color: $green;
                        }
                    }
                    &:nth-child(4) {
                        a:before {
                            background-color: $purple;
                        }
                    }
                }
            }
        }
    }    
}

// Color blue header
.color-blue {
    #header {
        background-color: $blue;
    }
    .card {
        .card-title {
            color: $blue !important;
        }
        .card-cta {
            color: $blue !important;
            border-color: $blue !important;
        }
    }
}

// Color orange Header
.color-orange {
    #header {
        background-color: $orange;
    }
    .card {
        .card-title {
            color: $orange !important;
        }
        .card-cta {
            color: $orange !important;
            border-color: $orange !important;
        }
    }
}

// Color green Header
.color-green {
    #header {
        background-color: $green;
    }
    .card {
        .card-title {
            color: $green !important;
        }
        .card-cta {
            color: $green !important;
            border-color: $green !important;
        }
    }
}

// Color purple Header
.color-purple {
    #header {
        background-color: $purple;
    }
    .card {
        .card-title {
            color: $purple !important;
        }
        .card-cta {
            color: $purple !important;
            border-color: $purple !important;
        }
    }
}

// Front Page
.front {
    #header {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        max-height: 500px;
        background-image: url('./../images/superbugs-banner.jpg');
        overflow: visible;
        position: relative;
        margin-bottom: 30px;
        .banner-content-section {
            display: block;
            height: calc(100% - 75px);
            position: relative;
            .banner-text {
                position: absolute;
                bottom: 10%;
                right: 0px;
                display: block;
                float: right;
                width: 440px;
                a {
                    font-size: 38px;
                    overflow: hidden;
                    line-height: 45px;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: left;
                    font-weight: bold;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    } 
}

// Mega Menu
li.nav-item.dropdown.has-mega-menu {
    position: static;
}