@import './variables';

.breadcrumbs-section {
    margin-bottom: 16px;
    ol {
        margin: 0px;
        padding: 0px;
        li {
            display: inline-block;
            margin-right: 6px;
            a {
                color: $font_gray;
                font-size: 12px;
                font-weight: bold;
            }
            &.label {
                color: $font_gray;
                font-size: 11px;
                font-style: italic;
                text-transform: uppercase;
                margin-right: 10px;
            }
            &.current {
                color: $font_gray;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}

article {
    .title {
        color: $blue;
    }
    img {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .normal-text {
        font-size: 15px;
        color: $font_gray;
    }
}

.title {
    text-transform: uppercase;
}

.about {
    .title {
        color: $orange;
    }
}

.products {
    .title {
        color: $green;
    }
}

.responsibility {
    .title {
        color: $purple;
    }
}

.terms {
    .title {
        color: $blue;
    }
    .term-content {
        list-style-type: decimal;
        li {
            p {
                margin-bottom: 8px;
                .label {
                    font-weight: bold;
                    font-size: 15px;
                    margin-right: 6px;
                    color: $font_gray;
                }
                .data {
                    color: $font_gray;
                    a {
                        color: $blue;
                    }
                }
            }
        }
    }
}

.privacy {
    .title {
        color: $blue;
    } 
    .content {
        .policy-content {
            li {
                p {
                    margin-bottom: 2px;
                }
            }
        }
        .sub-pargraph {
            display: block;
            width: 100%;
            font-size: 15px;
            color: $font_gray;
        }
    }
}

.navbar-toggler {
    border: 1px solid $white;
    &:focus {
        outline: none !important;
    }
    .material-icons {
        color: $white;
        font-size: 28px;
    }
}

.body-heading {
    display: none;
}

.site-name {
    color: #fff;
    font-size: 22px;
    margin: 0;
    width: 0px;
    height: 0;
    opacity: 0;
}