#home_bottom{
  margin: 2rem 2rem 0rem 2rem;
  .mp{
    margin: 0px;
    padding: 0px;
    .aside_left{
      margin-top: 38px;
      width: 100%;
      height: 237px;
      position: relative;
      .title{
        font-size: 1.125rem;
        margin-bottom: 12px;
        line-height: 1.3;
        color: #134f91;
      }
      .desc {
        margin-bottom: 12px;
        font-size: 16px;
      }
      .link {
        font-family: 'fs_albertbold', sans-serif;
        font-size: 16px;
        &:hover {
          text-decoration: none;
          color: #245682;
        }
      }
    }
    .aside_right{
      padding: 25px;
      margin-left: 34px;
      h2 {
        font-size: 36px;
        font-family: 'fs_albertbold', sans-serif;
        margin-bottom: 21px;
        font-weight: normal;
        line-height: 1.3;
        color: #134f91;
      }
      hr {
        background-color: #a7a2a2;
        margin: 24px 0;
      }
      p {
        font-size: 16px;
        color: #424242;
        padding: 0;
        margin: 0 0 34px;
        letter-spacing: 0.3px;
        line-height: 1.3;
      }
      .nervepain__symptoms {
        width: 100%;
        background-color: #0082ca;
        padding: 25px;
        margin-top: 34px;
        color: #ffffff;
        h3 {
          color: #ffffff;
          font-size: 24px;
          font-family: 'fs_albertbold', sans-serif;
          margin: 0 0 5px;
          letter-spacing: 1px;
        }
        p.nervepain__symptoms__desc {
          color: #ffffff;
          margin: 0 0 25px;
          font-size: 17px;
        }
        ul {
          padding: 0;
          margin: 0;
          margin-left: 36px;
          width: 100%;
          li {
            color: #ffffff;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.kasirsapes__banner__image{
  width: 60%;
}