// start   general
.breadcrumb-item.active {
  font-family: 'fs_albertbold', sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #424242;
}
//  end  general
@import "content";
@import "footer";
@import "header";
@import "home_bottom";
@import "home_top";
@import "kas_top";
@import "kas_bottom";
@import "konsult_bottom";
@import "privacy";
@import "ref";
@import "slider";
@import "responsive";