@font-face {
    font-family: 'FSAlbert';
    src: url('FSAlbert-Bold.eot');
    src: url('FSAlbert-Bold.eot?#iefix') format('embedded-opentype'),
        url('FSAlbert-Bold.woff2') format('woff2'),
        url('FSAlbert-Bold.woff') format('woff'),
        url('FSAlbert-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

